<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../static/rankingSelecionado/style.css">
    <script src="../../../static/rankingSelecionado/script.js"></script>
    <title>Ranking Selecionado </title>
</head>
<body>
  <header>
    <div class="divlogo">
        <img class="logo" src="../../../static/assets/logo.png" alt="Logo Albert" />
      </div>
      <div class="botoesheader">
        <button class="botaoIcone" type="button" onclick="sair()">
          <img src="../../../static/assets/logout.png" alt="Icone Sair" />Sair
        </button>
        <button class="botaoPerfil" type="button" onclick="meuPerfil()">
          <img src="../../../static/assets/user.png" alt="Icone Perfil" />
        </button>
      </div>
</header>
<div class="container">
  <div class="cabecalho"><img class='logoHistoria' src="../../../static/assets/historia.png" alt="">Historia</div>
        <table id="tabela" class="tabelaRanking">
          <tr>
            <td>
              1º Fulano1 <div class="pontuacao">1500 <img src="../../../static/assets/coroa.png" alt="Icone Coroa"></div>
            </td>
          </tr>
          <tr>
            <td>
              2º Fulano2 <div class="pontuacao">1490</div>
            </td>
          </tr>
          <tr>
            <td>
              3º Fulano3 <div class="pontuacao">1470</div>
            </td>
          </tr>
          <tr>
            <td>
              4º Fulano4 <div class="pontuacao">1430</div>
            </td>
          </tr>
          <tr>
            <td>
              5º Fulano5 <div class="pontuacao">1410</div>
            </td>
          </tr>
  </table>
</div>
</body>
</html>