
.divlogo {
  display: flex;
  float: inline;
  align-items: center;
  width: 100%;
  justify-content: left;
}

header {
  display: flex;
  align-items: center;
}

.botoesheader {
  text-align: right;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: end;
}
body {
  background-color: #001c30;
}


.botaoIcone {
  border: none;
  background-color: #f5f0bb;
  padding: 2%;
  color: #000000;
  font-size: 1.3em;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  font-weight: bold;
  font-family: "roboto";
  transition-duration: 0.4s;
}

.botaoIcone img {
  height: 100%;
  width: 30%;
  padding-right: 8%;
  justify-self: start;
  vertical-align: middle;
}
.botaoIcone:hover {
  background-color: #00e1bc; /* Green */
  color: #f5f0bb;
}

.botaoPerfil:hover {
  opacity: 0.5;
}

button:active {
  background-color: #b3af87;
  box-shadow: 0 5px #001c30;
  transform: translateY(2px);
}

.logo {
  width: 14em;
}

.botaoPerfil {
  border: none;
  background-color: #001c30;
  text-align: center;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
}
.botaoPerfil img {
  height: 100%;
  width: 60%;
}

.tematabela{
  display: grid;
  border: none;
  text-align: center;
  align-items: center;
  justify-content: start;
  background-color: #f5f0bb;
  font-size: 1.5rem;
  border-radius: 0px;
  padding: 0% 0% 0% 0%;
  width: 100%;
  color: #001C30;
  font-weight: bold;
  font-family: "roboto";
  transition-duration: 0.4s;
  margin: 0%;
}

.tematabela img{
  width: 100px;
  height: 100px;
}

.container{
  display: grid;
  margin: 5%;
}

.elementoA{
  display: flex;
  background-color: #BEBA92;
  border: none;
  text-align: start;
  color: #001C30;
  font-size: 1.5rem;
  border-radius: 0px;
  padding: 10% 0% 10% 10%;
  width: 578%;
  font-weight: bold;
  font-family: "roboto";
  transition-duration: 0.4s;
  align-items: center;
  

}

.elementoB{
  display: flex;
  border: none;
  text-align: start;
  color: #001C30;
  font-size: 1.5rem;
  border-radius: 10px;
  padding: 10% 0% 10% 10%;
  width: 578%;
  font-weight: bold;
  font-family: "roboto";
  transition-duration: 0.4s;
  align-items: center;

}
.cabecatabela{
  display: flex;
  border: none;
  text-align: center;
  align-items: center;
  justify-content: start;
  background-color: #f5f0bb;
  font-size: 1.5rem;
  border-radius: 0px;
  padding: 1% 0% 1% 0%;
  width: 100%;
  color: #001C30;
  font-weight: bold;
  font-family: "roboto";
  transition-duration: 0.4s;
  margin: 0%;
}

.cabecatabela img{
  width: 100px;
  height: 100px;
  margin-right: 30px;
}

.logoGeral{
  height: 120px;
  width: 120px;
  margin-right: 2%;
}

.logoHistoria{
  height: 120px;
  width: 120px;
  margin-right: 2%;
}

.logoGeografia{
  height: 110px;
  width: 90px;
  margin-right: 2%;
}

.logoEsporte{
  height: 100px;
  width: 110px;
  margin-right: 2%;
}

.logoBiologia{
  height: 110px;
  width: 90px;
  margin-right: 2%;
}

.cabecalho{
  display: flex;
  align-items: center;
  text-align: center;
  color: #F5F0BB;
  font-size: 2rem;
  font-family: "roboto";
  
}

.pontuacao{
  float: right;
  
}

.pontuacao img{
  width: 30px;
  height: 30px;
  
}

table {
  border-collapse: collapse;
  width: 100%;
  font: bold;
  font-family: "roboto";
  font-size: large;
}

table, td {
  border: none;
  border-radius: .625rem; 
}

td {
  padding: .625rem;
  width: 81.25rem;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #84815f;
}

tr:nth-child(odd) {
  background-color: #F5F0BB;
}
