<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../../static/perfilUsuario/style.css" />
    <script src="../../../static/perfilUsuario/script.js"></script>
    <title>Perfil Usuário</title>
  </head>
  <body>
    <script>user();</script>
    <header>
      <div class="divlogo">
          <img class="logo" src="../../../static/assets/Albert.png" alt="Logo Albert" />
        </div>
        <div class="dir">
          <div class="voltar">
            <button class="botaoIcone" type="button" onclick="voltar()">
              <img src="../../../static/assets/icone_voltar.png" alt="Icone Voltar" />Voltar
            </button>
            <button class="botaoPerfil" type="button" onclick="meuPerfil()">
            <img src="../../../static/assets/user.png" alt="Icone Perfil" />
          </button>
          </div>
        </div>
  </header>
  
  <div class="container">
      <form id="updateForm">
        <div class="linha2">
        <label class='tabelaB' for="email">E-mail:</label>
        <input type="email" id="email" name="email">
        <br></div>
        <div class="linha3">
        <label class="tabelaC" for="senha">Senha:</label>
        <input type="password" id="senha" name="senha">
        <br></div>
        <button class="botaoSalvar" type="button" onclick="updateUser();">Atualizar Informações <img src="../../../static/assets/check.png" alt=""></button>
    </form>
  </div>
  </body>
</html>