@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;600;700&display=swap');

/*Formatações gerais*/
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}


body{
    height: 100vh;
    background-color: #001C30;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 8px;               
  }
  
  body::-webkit-scrollbar-track {
    background: #09273c;     
  }

  body::-webkit-scrollbar-thumb {
    background-color: #00E1BC;   
    border-radius: 20px;       
    border: 3px solid #F5F0BB;  
  }

h2 {
    position: absolute;
    color: #292D32;
    left: 3rem;
    font-weight: 600;
    text-shadow: 2px 2px 2px rgba(75, 75, 75, 0.5);
    margin: 0; 
    line-height: 4rem; 
}

h3 {
    color: #F5F0BB;
    font-weight: bold; /* Pode ajustar o valor do peso da fonte conforme necessário */
    margin: 10px 0; /* Espaçamento superior e inferior */
    text-shadow: 2px 2px 2px rgba(152, 152, 152, 0.616);
}

.titulo {
    background-color: #F5F0BB;
    background-image: url("/Grupo_4_PW-T02-2023-2-main/assets/criar.png");
    background-repeat: no-repeat;
    background-position: 12rem center; 
    background-size: 2.5rem 2.5rem;
    width: 100%;
    height: 4rem; 
    position: absolute;
    top: 11rem; 
}

/*Formatações de botões*/
button{
    border: none;
    cursor: pointer;
    transition-duration: 0.4s;
}

#btn-perfil {
    background-image: url("/Grupo_4_PW-T02-2023-2-main/assets/user.png");
    width: 5rem; 
    height: 5rem;
    position: relative;
    top: 2rem;
    background-color: #001C30;
    background-size: contain;
}

#btn-perfil:hover {
    background-image: url("/Grupo_4_PW-T02-2023-2-main/assets/user_ativo.png");
}

#btn-sair {
    background-image: url("/Grupo_4_PW-T02-2023-2-main/assets/logout2.png");
    background-repeat: no-repeat;
    background-position: right 20px center;
    margin-right: 1rem;
    padding: 8px;
    padding-left: 20px;
    width: 10rem; 
    height: auto;
    text-align: left;
    font-size: 30px;
    font-weight: 600;
    text-shadow: 2px 2px 2px rgba(75, 75, 75, 0.5);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    background-color: #F5F0BB;
    color: #292D32;
    border-radius: 12px;
}

#btn-sair:hover {
    background-image: url("/Grupo_4_PW-T02-2023-2-main/assets/logout_ativo.png");
    background-color: #00E1BC;
    color: #F5F0BB;
    text-shadow: 2px 2px 2px rgba(75, 75, 75, 0.5);
    
}

button:active {
    box-shadow: 0 5px #001C30;
    transform: translateY(2px);
}

.botoes {
    position: absolute;
    top: 1rem;
    right: 1rem;
    margin-right: 3rem;
}


.logo {
    position: absolute;
    top: 1rem; 
    width: 17rem; 
    height: auto; 
}


/*Formatações de formulário*/
label {
    color: #F5F0BB;
}

input[type="text"],
select {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 3px solid #00E1BC;
    border-radius: 5px;
}

label[for="nomeQuiz"], label[for="categoria"] {
    display: flex; 
    text-align: center; 
}

#nomeQuiz {
    width: 31.25rem; 
}

#categoria {
    width: 32.8125rem; 
}

.criarQuiz {
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
    margin-right: 50px; 
    max-height: 60vh;
    margin-top: 20rem; 

/* Formatações de botões do formulário */
.botoesCriarQuiz {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    margin-top: 20px; 
  }

.botoesCriarQuiz button {
    margin-right: 30px;
    padding: 8px;
    width: 9rem; 
    height: auto;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    text-shadow: 2px 2px 2px rgba(75, 75, 75, 0.5);
    background-color: #00E1BC;
    color: #F5F0BB;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.botoesCriarQuiz {
    display: flex;
    flex-direction: row;
    align-items: flex-start; 
    margin-top: 20px; 
  }
}

#btn-novapergunta:hover, #btn-finalizarquiz:hover{
    background-color: #F5F0BB;
    color: #292D32;
}
