body {
  background-color: #001c30;
  background-image: url(background.png);
  background-repeat: repeat;
  background-position: left;
  background-size: cover;
}

button {
  border: none;
  background-color: #00e1bc;
  text-align: center;
  color: #f5f0bb;
  font-size: 1.5em;
  cursor: pointer;
  border-radius: 12px;
  font-weight: bold;
  font-family: "Quicksand", sans-serif;
  transition-duration: 0.4s;
}
.container {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-top: 5%;
  width: 100%;
  height: 50%;
}

.bigBotao {
  border: none;
  background-color: #f5f0bb;
  text-align: center;
  color: #000000;
  font-size: 1.5em;
  cursor: pointer;
  border-radius: 12px;
  padding: 3% 0% 12% 0%;
  width: 65%;
  font-weight: bold;
  font-family: "Quicksand", sans-serif;
  transition-duration: 0.4s;
}
.bigBotao img {
  height: 80%;
  width: 100%;
  justify-self: center;
  text-align: center;
  vertical-align: top;
}

.botaoIcone {
  border: none;
  background-color: #f5f0bb;
  padding: 2%;
  text-align: center;
  color: #000000;
  font-size: 1.3em;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  font-weight: bold;
  font-family: "Quicksand", sans-serif;
  transition-duration: 0.4s;
}

.botaoIconeMobile {
  display: none;
}

button img {
  height: 80%;
  width: 30%;
  padding-right: 8%;
  justify-self: start;
  vertical-align: middle;
}
.botaoIcone:hover {
  background-color: #00e1bc; /* Green */
  color: #f5f0bb;
}
.bigBotao:hover {
  background-color: #00e1bc; /* Green */
  color: #f5f0bb;
}

.botaoPerfil:hover {
  opacity: 0.5;
}

button:active {
  background-color: #b3af87;
  box-shadow: 0 5px #001c30;
  transform: translateY(2px);
}

.logo {
  width: 16em;
}
.botaoPerfil img {
  height: 100%;
  width: 60%;
}

.botaoPerfil {
  border: none;
  background-color: #001c30;
  text-align: center;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
}
hr {
  display: none;
}
.page {
  display: block;
  color: #f5f0bb;
  height: 95vh;
  width: 100%;
  font-family: "Quicksand", sans-serif;
}

.divlogo {
  display: flex;
  float: inline;
  align-items: center;
  width: 100%;
  justify-content: left;
}

header {
  display: flex;
  align-items: center;
}
.botoesheader {
  align-items: center;
  width: 100%;
  text-align: right;
}

@media screen and (max-width: 768px) {
  header {
    display: block;
    text-align: center;
  }
  .divlogo {
    text-align: center;
    width: 100%;
  }
  .logo {
    text-align: center;
    width: 100%;
    padding: 0% 20%;
  }
  .botoesheader {
    display: inline;
    text-align: left;
  }
  .botaoIconeMobile {
    display: inline;
    border: none;
    background-color: #f5f0bb;
    padding: 2%;
    text-align: center;
    color: #000000;
    margin: 10px 23px;
    cursor: pointer;
    border-radius: 12px;
    font-weight: bold;
    font-family: "Quicksand", sans-serif;
    transition-duration: 0.4s;
  }
  .botaoIcone {
    display: none;
  }
  h2 {
    font-size: 30px;
    text-align: center;
  }
  hr {
    display: flex;
    width: 60%;
    border-style: dashed;
  }
  .container {
    display: block;
    margin-top: 20%;
    width: 100%;
  }
  .bigBotao img {
    width: 30%;
  }
  .bigBotao {
    padding: 5%;
    margin: 5%;
    align-items: center;
    text-align: center;
  }
}
