body{
    background-color: #001C30;
    background-image: url(background.png);
    background-repeat: no-repeat;
    background-position:right;
    background-size:contain;

}

button{
    border: none;
    background-color: #00E1BC;
    padding: 2% 5%;
    text-align: center;
    color: #F5F0BB;
    font-size: 1.5em;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    font-weight: bold;
    font-family: 'roboto';
    transition-duration: 0.4s;
}

.botaoIcone{
    border: none;
    background-color: #00E1BC;
    padding: 2%;
    text-align: center;
    color: #F5F0BB;
    font-size: 1.3em;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    font-weight: bold;
    font-family: 'roboto';
    transition-duration: 0.4s;
}

button img{
    height:80%; 
    width: 25%; 
    padding-right: 8%;
    justify-self: start;
    vertical-align: middle;

}
button:hover {
    background-color: #001C30; /* Green */
    border-color: #F5F0BB;
    color: #F5F0BB;
    border: #F5F0BB 2px outset;
  }

button:active {
    background-color: #b3af87;
    box-shadow: 0 5px #001C30;
    transform: translateY(2px);
}

.logo{
    width: 25em;
}

.page{
    display: inline-flex;
    height: 97vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.esq{
    display:block;
    height: 95%;
    align-items: center;
    justify-content: center;
    width: 260vh;
   

}
.dir{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: max-content;
}
.divlogo{
    display: flex;
    float: inline-end;
    align-items: center;
    width: 100%;
    justify-content: right;
}

.voltar{
    display: block;
    float: start;
    width: 100%;
    align-items:flex-start;
    justify-content:start;
   
}

.form{
    display: block;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.2em;
    margin: 20% 10% 10% 10%;
    color: #F5F0BB;
    align-items: center;
    justify-content: center;

}

.entrar{
    display: flex;
    margin-right: 10%;
    align-items:end;
    justify-content: right;

}

input{
    width: 100%;
    font-size: 1.25em;
    padding: 2% 5%;
    margin: 2% 0;
    box-sizing: border-box;
    border-radius: 4px;
}
