body {
    background-color: #001c30;
  }
 
.infoPerg{
    display: flex;
    justify-content: center;
    color: #00e1bc;
    font-size: 30px;
}

.tempoPerg{
    font-size: 30px;
    display: flex;
    text-align: end;
    justify-content: end;
}

.perg{
    text-align: center;
    align-items: center;
    display: flex;
    border: none;
    background-color: #f5f0bb;
    text-align: start;
    color: #001C30;
    font-size: 1rem;
    border-radius: 10px;
    margin-top: 0%;
    margin-left: 6%;
    padding: 0% 0% 1% 1%;
    width: 80%;
    height: 20vh;
    font-weight: bold;
    font-family: "roboto";
    transition-duration: 0.4s;
    
    
  }

  .container {
    display: grid;
    justify-content: center;
    margin-top: 3%;
    width: 30%;
    height: 15vh;
  }
  
  .op1{
    display: flex;
    border: none;
    background-color: #f5f0bb;
    text-align: start;
    color: #001C30;
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 5%;
    padding: 1% 0% 1% 10%;
    width: 460%;
    font-weight: bold;
    font-family: "roboto";
    transition-duration: 0.4s;
    align-items: center;
    
  }
  .perg img{
    height: 150px;
    width: 150px;
    justify-self: center;
    text-align: start;
    margin-right: 20%;
  }

  .op1 img {
    height: 30px;
    width: 30px;
    justify-self: center;
    margin-right: 1%;
  }
  
  .bigBotaoB img {
    height: 80%;
    width: 45%;
    justify-self: center;
    text-align: center;
    vertical-align: start;
  }
  
.verificacao{
    display: grid;

}

.desistir{
    margin-left: 6%;
    align-items: center;
    display: flex;
    background-color: #B53838;
    color: #f5f0bb;
    font-size: 30px;
    font-family: "roboto";
    font-weight: bold;

}
.conferir{
    justify-content: end;
    text-align: end;
    margin-top: 15%;
    align-items: center;
    display: flex;
    background-color: #00E1BC;
    color: #f5f0bb;
    font-size: 30px;
    margin-right: 60px;
    font-family: "roboto";
    font-weight: bold;
}

.desistir img{
    width: 45px;
    height: 45px;
    margin-left: 10%;
}

.conferir img{
    width: 45px;
    height: 45px;
    margin-left: 10%;
}

  #bio {
    padding: 8% 0% 8% 0%;
  }
  #esp {
    padding: 7.5% 0% 7.5% 0%;
  }
  
  .botaoIcone {
    border: none;
    background-color: #f5f0bb;
    padding: 2%;
    color: #000000;
    font-size: 1.3em;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    font-weight: bold;
    font-family: "roboto";
    transition-duration: 0.4s;
  }
  
  .botaoIcone img {
    height: 100%;
    width: 30%;
    padding-right: 8%;
    justify-self: start;
    vertical-align: middle;
  }
  .botaoIcone:hover {
    background-color: #00e1bc; /* Green */
    color: #f5f0bb;
  }
  .bigBotaoA:hover {
    background-color: #001c30; /* Green */
    color: #b3af87;
    border: #f5f0bb 2px outset;
    border-radius: 4px;
  }
  
  .bigBotaoB:hover {
    background-color: #001c30; /* Green */
    color: #b3af87;
    border: #f5f0bb 2px outset;
    border-radius: 4px;
  }
  
  .botaoPerfil:hover {
    opacity: 0.5;
  }
  
  button:active {
    background-color: #b3af87;
    box-shadow: 0 5px #001c30;
    transform: translateY(2px);
  }
  
  .logo {
    width: 14em;
  }
  
  .botaoPerfil {
    border: none;
    background-color: #001c30;
    text-align: center;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
  }
  .botaoPerfil img {
    height: 100%;
    width: 60%;
  }
  
  .page {
    display: inline;
    text-align: center;
    justify-content: center;
    color: #00e1bc;
    height: 50vh;
    width: 90%;
    font-family: "Overlock SC", sans-serif;
    margin-left: 10%;
    margin-right: 10%;
  }

  /*
  .divlogo {
    display: flex;
    float: inline;
    align-items: center;
    width: 100%;
    justify-content: left;
  }*/
  
  header {
    display: flex;
    align-items: center;
  }
  .botoesheader {
    text-align: right;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: end;
  }
  
  @media only screen and (max-width: 1194px){
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
   
  }
